.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15 vw;
  background-color: #ffffff;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

/* Sample styling for sidebar links */
.sidebar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  background-color: #ddd;
}
