@import "../../../styles.scss";
@import "../../../colors.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 72vh;
  background-color: $color-cream;
  border-radius: 30px;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

label {
  font-size: larger;
  font-weight: 900 !important;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-fields input[type="text"] {
  width: 300px;
  height: 40px;
}

button {
  background-color: $color-deep-red;
  border-radius: 10px;
  color: $color-white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  display: inline-block;
}


.dropdown-content {
  display: none;
  font-size: medium;
  position: absolute;
  z-index: 1;
  min-width: 200px;

  border: 2px solid $color-light-brown;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px $color-brown;
}



.reservation-container {
  margin-top: 10px;
  display: flex; /* Ensure horizontal layout */
  align-items: center;
}


label {
  font-size: larger;
  font-weight: 900;
  margin-right: 10px; /* Adjust spacing between label and dropdown */
}

.dropdown-menu {
  display: inline-block; /* Display as inline element */
  // background-color: $color-deep-red; /* Change color as needed */
  border: 2px solid $color-light-brown;
  border-radius: 10px; /* Consistent rounding */
  padding: 5px 10px; /* Adjust padding if desired */
  cursor: pointer; /* Indicate interactivity */
  transition: background-color 0.2s ease-in-out; /* Smoother background color change */
}

.dropdown-menu option {
  color: $color-white; /* Change option text color as needed */
  background-color: transparent; /* Remove default background color */
  padding: 5px 10px; /* Adjust option padding if desired */
}

.dropdown-menu option:hover {
  background-color: cadetblue; /* Highlight selected option */
}

.dropdown-menu option {
  color: #000000; /* Changed to white */
  background-color: transparent; /* Remove default background color */
  padding: 5px 10px; /* Adjust option padding if desired */
}
