@import "../../../styles.scss";
@import "../../../colors.scss";

.room-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.room-cards {
  align-items: center;
  background-color: $color-cream;
  border: 1px solid $color-white;
  border-radius: 30px;
  box-shadow: 0 0 15px #998d84/*#3D3B40*/;
  color: black;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: left;
  margin: 25px;
  padding: 20px;
  width: 28vw;
}
