$color-cream: #f9efdb;
$color-deep-red: #a10f0f;
//eredeti-a52c2c uj-ad0000
$color-white-ish: #f5f5dc;
$color-green-ish: #9dbc98;
$color-light-grey: #e8c9ff;
$color-light-brown: #dac0a3;
$color-white: #f3f3f3;
$color-black: #000000;
$color-brown: #998d84; /*for shadows*/
