@import "../../../styles.scss";
@import "../../../colors.scss";
@import "../../../fonts.scss";

body {
  font-family: $font-header;
  background-color: $color-white;
}

form {
  display: flex;
  margin: 20px;
  align-content: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-white;
  background-color: $color-cream;
  box-shadow: 0 0 10px 0 $color-brown;
  border-radius: 30px;
  height: 80vh;
  width: 80vw;
}

.add_room_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
  width: 80vw;
  margin-right: 20px;
}

.room-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  max-width: 600px;
}

.room-photo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-deep-red;
  border: 1px solid $color-white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 20px;
  width: 20vw;
}

.room-photo-button:hover {
  background-color: $color-deep-red;
}

label {
  color: $color-black;
  font-size: 16px;
}

input,
textarea {
  border: 1px solid $color-white;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

button {
  background-color: $color-deep-red;
  border-radius: 10px;
  color: $color-white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 20px;
  display: inline-block; // This is needed for the button to be affected by text-align
}

.room-name-number,
.room-number,
.room-floor,
.room-capacity,
.room-description,
.room-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.room-description {
  margin-bottom: 0;
}

.room-description textarea {
  height: 100px;
}
